.content{
  margin: 50px 250px;
}



.input{
  border: 1px solid rgb(218, 215, 215);
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
.logo a{
  text-decoration: none;
  color: #fff;
}

.navy {
  width: 100%;
  z-index: 3000;
  background: #222;
  margin: 0;
  padding-left: 40px;
  padding-right: 80px;
  
}


.navy .ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

.navy.black .ul {
  background: rgba(0, 0, 0, 0.5);
}

.navy .ul .li {
  display: inline-block;
  padding: 20px;
}


.navy .ul .li .a {
  text-decoration: none;
  color:white;
  font-size: 17px;
  
}
.navy .ul .li .a:hover{
  color: var(--primary-color);
 /* border-bottom: 1px solid var(--primary-color);*/
  transition: 1s;
  
}





@media (max-width: 900px) {
  .content{
    margin: 30px 30px;
  }
  .logo {
    position: fixed;
    float: left;
    margin: 10px 66px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .logo a{
    text-decoration: none;
    color: #fff;
  }
  
  .navy {
    width: 100%;
    z-index: 3000;
    background: #222;
    margin: 0;
    padding-left: 10px;
    padding-right: 15px;
    
  }
  
  
  .navy .ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
  }
  
  .navy.black .ul {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .navy .ul .li {
    display: inline-block;
    padding: 10px;
  }
  
  
  .navy .ul .li .a {
    text-decoration: none;
    color:white;
    font-size: 15px;
    
  }
  .navy .ul .li .a:hover{
    color: var(--primary-color);
   /* border-bottom: 1px solid var(--primary-color);*/
    transition: 1s;
    
  }
  
}
